@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500&display=swap");
:root {
    @apply font-montserrat font-medium text-base;
}
body {
    @apply bg-black text-white;
}
.inner {
    @apply w-full max-w-6xl mx-auto px-2;
}

img {
    border-style: none;
    width: 100%;
}
/*- Typography -*/
/* Buttons / Links */
a {
    color: inherit;
}
.btn,
.btn_shadow {
    @apply py-2 px-4 rounded-full max-w-fit focus:outline-none focus:border-4;
}
.btn {
    @apply bg-primary text-black;
}
.btn_shadow {
    @apply text-primary border-2 border-primary;
}
/* Header.css */
/*      Nav.css */
.main-navigation {
    @apply flex justify-between items-center py-4 border-b-2 border-white;
}
.main-navigation .flex-left {
    @apply text-2xl italic flex gap-4;
}
.header {
    @apply inner sticky top-0 bg-black shadow-lg shadow-black;
}
/*      Cart.css */

/* Checkoutpagesuccess.css */
/* ShoppingPage.css */
.shopping-page_h1 {
    @apply my-28 text-4xl mx-auto text-center italic;
}
.shopping-page_h1::before {
    content: "< ";
}
.shopping-page_h1::after {
    content: " />";
}
.products-wrapper {
    @apply grid grid-flow-row grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-16 my-4;
}
.tag-wrapper {
    @apply flex;
}
.tag-wrapper > p::after {
    content: "/";
    @apply mx-1;
}
.product-card {
    @apply flex flex-col gap-2;
}
.product-card_image {
    height: 320px;
    border-radius: 24px 24px 0px 0px;
    @apply object-cover;
}
.product-card_title {
    @apply text-2xl font-bold;
}
.product-card_actions-wrapper {
    @apply flex justify-between align-top;
}
/* Productpage.css */
.single-product_wrapper {
    @apply flex flex-col lg:flex-row  my-4 w-full max-w-6xl mx-auto px-2 gap-4;
}
.single-product_title {
    @apply text-4xl font-extrabold;
}
.single-product_img {
    max-height: 380px;
    @apply rounded-3xl object-cover;
}
@media screen and(min-width:850px) {
    .single-product_img {
        height: 600px;
    }
}
.single-product_text-wrapper {
    @apply flex flex-col  flex-1 justify-around;
}
.single-product_info {
    @apply flex flex-col gap-4;
}
/* Checkoutpage.css */
.cart-container {
    @apply flex flex-col inner gap-4;
}
.cart-wrapper {
    @apply flex flex-col lg:flex-row my-16;
}
.cart-wrapper > div {
    flex: 1;
}
.cart-container h2 {
    @apply my-28 text-4xl mx-auto text-center italic;
}
.cart-list {
    @apply flex flex-col gap-2;
} /* product*/
.cart-item {
    @apply flex border-b-2 border-primary border-opacity-40 pb-2;
}
.cart-item_product {
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    @apply flex items-center gap-2;
}
.cart-item_product h4 {
    min-width: 0;
}
.cart-item_product-img {
    @apply object-cover w-24 lg:w-32 rounded-2xl aspect-square mb-auto;
}
.cart-item_rating {
    @apply flex items-center gap-1;
}
.cart-item_quantity {
    @apply flex justify-center gap-1 text-lg font-bold items-center ml-auto pr-[2vw];
}
.cart-item_quantity-button {
    @apply text-2xl;
}
.cart-item_quantity-button:first-child {
    @apply mb-1;
}
.cart-item_delete {
    @apply opacity-40 focus:opacity-100 hover:opacity-100;
}
.cart-checkout {
    @apply flex flex-col text-center gap-4 my-8;
}
/* Form.css */
.contact-form-wrapper {
    @apply inner flex;
}
.contact-form {
    @apply flex flex-col gap-4 w-full max-w-lg mx-auto;
}
.input-wrapper {
    @apply flex flex-col;
}
input,
textarea {
    @apply bg-transparent focus:outline-none  border-primary  p-1;
}
label {
    @apply block;
}
input {
    @apply border-b focus:border-b-4;
}
textarea {
    @apply border focus:border-4;
}
/* Footer.css */
footer {
    @apply inner mt-20;
}
